<!DOCTYPE html>
<html>
<head>
  <base href="/">

  <meta charset="UTF-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="CAIT setup application">

  <!-- iOS meta tags & icons -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="myapp">
  <link rel="apple-touch-icon" href="/static/images/Icon-192.png">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/static/images/favicon.ico"/>

  <title>CAIT Setup</title>
  <link rel="manifest" href="manifest.json">
</head>
<body>
  <!-- This script installs service_worker.js to provide PWA functionality to
       application. For more information, see:
       https://developers.google.com/web/fundamentals/primers/service-workers -->
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('flutter-first-frame', function () {
        navigator.serviceWorker.register('flutter_service_worker.js?v=30398180');
      });
    }
  </script>
  <script src="{{url_for('static', filename='js/main.dart.js')}}" type="application/javascript"></script>
</body>
</html>
