[Unit]
Description=CURT component service
After=apache2.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt
ExecStart=/usr/bin/bash start_curt_containers.sh

[Install]
WantedBy=multi-user.target